html,
body {
  min-height: 100%;
  margin: 0;
}
.Login-component {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://d38hreqg3edp42.cloudfront.net/waldorfastoriamonarchbeach.com-922720774/cms/cache/v2/00002.jpg/1200x630/fit/80/77924678b1b95947a2bb0ca9c3aeec20.jpg");
  /* height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover;  */
}
