html,
body {
  min-height: 100%;
  margin: 0;
}
.Login-component {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  /* height: 100%;

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat; */
  /* background-size: cover;  */
}
